<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tutor.tutordot">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Startpage.AutoLogin.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tutor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tutor_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SignUpActivity4"></activity>
        <activity android:name=".Startpage.SignUpActivity3" />
        <activity android:name="com.example.tutordot.SignUpActivity2" /> <!--  -->
        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!--  -->
        <activity android:name=".Startpage.LoginFor1stActivity" />
        <activity android:name=".MyPage.InviteForTuteeActivity" />
        <activity android:name=".MyPage.DeveloperActivity" />
        <activity android:name=".MyPage.InviteActivity" />
        <activity android:name=".MyPage.OnesentenseActivity" />
        <activity android:name=".MyPage.AddclassActivity" />
        <activity android:name=".MyPage.MyclassEdit" />
        <activity android:name=".ClassLog.ClassLogModificationActivity" />
        <activity android:name=".Calendar.ScheduleEditActivity" />
        <activity android:name=".Calendar.ScheduleInfoActivity" />
        <activity android:name=".Calendar.ScheduleAddActivity" />
        <activity android:name=".MyPage.MyinfoActivity" />
        <activity android:name=".CalenderActivity" />
        <activity android:name=".Startpage.SignUpActivity" />
        <activity android:name=".Startpage.SplashActivity">

            <!-- android:theme="@style/SplashTheme" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- - 안드로이드 8.0 이상 푸시 처리 추가 코드 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>